# my additions
restricted-*

# Django #
*.log
*.pot
*.pyc
__pycache__
*.sqlite3
media
migrations
!migrations/__init__.py
uv.lock

# Backup files #
*.bak

# Python #
*.py[cod]
*$py.class

# Distribution / packaging
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.whl
.installed.cfg
*.manifest
*.spec
.Python
build/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# pyenv
.python-version

# celery
celerybeat-schedule.*

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

# mypy
.mypy_cache/

# sftp configuration file
sftp-config.json

# Package control specific files Package
Control.last-run
Control.ca-list
Control.ca-bundle
Control.system-ca-bundle

# Visual Studio Code #
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# npm
npm-debug.log*
.lock-wscript
build/Release
node_modules
jspm_packages
.npm
.node_repl_history
coverage
.sass-cache/

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# other than this
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
.DS_Store